.sort-box {
   box-sizing: border-box;
   height: 133px;
   padding-top: 51px;
   padding-bottom: 64px;
   &__filter {
      position: relative;
   }
}
.filter {
   padding: 13px 16px 13px;
   position: absolute;
   top: -13px;
   left: 0;
   z-index: 1;
   &:hover {
      background: $colorLight;
      -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
   }

   &:hover .filter__title {
      color: $colorSelect;
   }

   &:hover .filter__icon {
      fill: $colorSelect;
   }
      
   &__title {
      text-transform: uppercase;

      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      outline: none;
   }
   
   &__icon {
      margin-left: 11px;
      fill:#000000;
   }

   &__name {
      width: 328px;
      margin-top: 16px;
      
      &:last-child {
         margin-bottom: 16px;
      }
   }
   
   &__summary {
      padding: 11px;
      font-size: 14px;
      line-height: 17px;
      border-left: 5px solid $colorSelect;
      border-bottom: 1px solid #EBEBEB;
      color: #6F6E6E;
      text-transform: uppercase;
      outline: none;

      &:hover {
         color: $colorSelect;
         border-left: 5px solid $colorSelect;
      }
   }

   &__wrapper {
      padding: 24px 12px;
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
         -ms-flex-direction: column;
            flex-direction: column;
      -webkit-box-pack: start;
         -ms-flex-pack: start;
            justify-content: flex-start;
      list-style: none;
      & li:not(:last-of-type) {
         padding-bottom: 11px;
      }
   }

   &__item {
      font-size: 14px;
      line-height: 17px;
      color: #6F6E6E;
      
      &:hover {
         color: $colorSelect;
      }
   }
}

.filter[open] {
   width: 360px;
   box-sizing: border-box;
   padding: 13px 16px 16px;
   background: #ffffff;
   box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] .filter__title {
   color: $colorSelect;
}

.filter[open] .filter__icon {
   fill: $colorSelect;
}

.filter__details {
   margin-top: 18px;
}

.filter__details[open] .filter__summary {
   color: $colorSelect;
}

.options--catalog details:not(:last-child) {
   margin-right: 28px;
}

.product-box__content--catalog {
   padding-top: 0;
   padding-bottom: 0;
}

.product-box--catalog {
   padding-top: 0;
   margin:0;
}

.options__trending {
   width: 150px;
}

.pages {
   margin: 18px auto 0;
   padding: 15px;
   background: $colorLight;
   width: 251px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   border: 1px solid #EBEBEB;
   border-radius: 3px;

   &__link {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #6F6E6E;
      
         &--active {
         color: #EF5B70;
      }
   }

   &__arrow {
      margin-right: 0;
      width: 100%;
      display: block;
   }
}
